* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color:#D0BABF;
}

body * {
font-family: Inconsolata;
line-height: 160%;
}

header div:hover{
    transform: scale(1.1);
}

 header div{
    transition: transform .1s;
    animation: fromTop .8s 1s backwards;
 }

header{
    text-align: center;
    margin-top: 32px;
    height: calc(120px + 32px);
}

header img{

    border-radius: 50%;    
    width: 120px;
    height: 120px;
    border: 3px solid white;
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}

main section {
    animation: fromBottom .8s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

section {
    color: white;
}

section div {
    background-color: #CF9397;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    border-top: 3px solid white;
}


section h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #F1F5F9;
    font-family: 'Carrois Gothic', sans-serif;
}

section ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    gap: 16px;
}

section ul li:hover{
    transform: scale(1.1);
}

section ul li{
    transition: transform .3s;
}

    .games-list img {
        width: 90px;
        border-radius: 8px;
    }

    .streams-list img {
        width: 70px;
        border-radius: 50%;
    }

@keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
        